"*":
  "atom-beautify": {}
  core:
    telemetryConsent: "no"
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "3ac69ab4-c183-22d9-847b-987044928cac"
  welcome:
    showOnStartup: false
